

body {
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #eebb44;
  margin-bottom: 40px;
}
header h1 {
  line-height: 1;
}
header p{
  margin-top: -1em;
}
img {
  width: 100%;
}
.card {
  display:inline-block;
  text-align: left;
  border: 1px solid lightgray;
  margin-bottom: 20px;
}
