

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #eebb44;
  margin-bottom: 40px;
}
h1 {
  font-weight: bold;
  display: inline-block;
}
img {
  width: 300px;
}
.col-4 {
  width: 100%;
}
/*h1 {
  font-size: 25px;
}*/
.card {
  display:inline-block;
  text-align: center;
}
/*p {
  font-size: 15px;
}
.card-caption {
  text-align: center;
}*/
/* Non-mobile, grid */

  /* 3 columns, 3/12 in % */

  .col-4 {
    width: 33.333333%;
  }
