

body {
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #eebb44;
  margin-bottom: 40px;
}
header h1 {
  line-height: 1;
}
header p{
  margin-top: -1em;
}
.row {
  height: 97px;
  width:100%;
}
.col-12 {
  width: 100%;
}
img {
  width: 100%;
}
.col-4 {
  width: 100%;
}
.card {
  display:inline-block;
  text-align: left;
  border: 1px solid lightgray;
  margin-bottom: 20px;
}
/* Non-mobile, grid */

.col-4 {
    width: 33.333333%;
  }
